.contProblema{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #151a5f;
}
.contProblema h2{
    color: white !important;
    text-align: center;
    margin-top: 2rem;
}
.ProbH2{
    color: white !important;
}
.ContentUl li{
    margin-left: 1.5rem;

}
.Acidente{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
    color: white;
}
.Acidente ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
}
.Smartlab{
    color: white;
    text-decoration: underline;
}
.Dados{
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.Dados p{
    margin-bottom: 1rem;
}
.imgAcidente{
    border-radius: 1rem;
}